<section class="gallery-section" id="gallery">
  <div class="container">
    <div class="container-gallery-text">
      <h2 class="gallery-title">Галерея зображень</h2>
      <p class="gallery-second-title">EcoTote у повсякденному житті</p>
    </div>

    <div class="container-gallery-images">
      <ul class="gallery-list">
        <li class="gallery-list-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/gallery-images/eco-tote-pc@1x.jpg 1x,
                /img/gallery-images/eco-tote-pc@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/gallery-images/eco-tote-t@1x.jpg 1x,
                /img/gallery-images/eco-tote-t@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/gallery-images/eco-tote-p@1x.jpg 1x,
                /img/gallery-images/eco-tote-p@2x.jpg 2x
              "
            />
            <img
              class="gallery-image"
              src="/img/gallery-images/eco-tote-p@1x.jpg"
              alt="Екосумка на стільці"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="gallery-list-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/gallery-images/man-with-tote-pc@1x.jpg 1x,
                /img/gallery-images/man-with-tote-pc@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/gallery-images/man-with-tote-t@1x.jpg 1x,
                /img/gallery-images/man-with-tote-t@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/gallery-images/man-with-tote-p@1x.jpg 1x,
                /img/gallery-images/man-with-tote-p@2x.jpg 2x
              "
            />
            <img
              class="gallery-image"
              src="/img/gallery-images/man-with-tote-p@1x.jpg"
              alt="Чоловік іде вулицею з екосумкою"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="gallery-list-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/gallery-images/person-with-tote-park-pc@1x.jpg 1x,
                /img/gallery-images/person-with-tote-park-pc@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/gallery-images/person-with-tote-park-t@1x.jpg 1x,
                /img/gallery-images/person-with-tote-park-t@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/gallery-images/person-with-tote-park-p@1x.jpg 1x,
                /img/gallery-images/person-with-tote-park-p@2x.jpg 2x
              "
            />
            <img
              class="gallery-image"
              src="/img/gallery-images/person-with-tote-park-p@1x.jpg"
              alt="Людина гуляє парком з екосумкою"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="gallery-list-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/gallery-images/women-with-tote-pc@1x.jpg 1x,
                /img/gallery-images/women-with-tote-pc@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/gallery-images/women-with-tote-t@1x.jpg 1x,
                /img/gallery-images/women-with-tote-t@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/gallery-images/women-with-tote-p@1x.jpg 1x,
                /img/gallery-images/women-with-tote-p@2x.jpg 2x
              "
            />
            <img
              class="gallery-image"
              src="/img/gallery-images/women-with-tote-p@1x.jpg"
              alt="Жінка несе овочі в екосумці"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
